{{!-- container dynamic class optional background image --}}
<div class='mse'>
  {{#progress-nav step=step stepTotal=stepTotal changeStep=(action 'changeStep')}}{{/progress-nav}}
  <div class="ems-sctn">
    {{yield}}
  </div>
  {{#step-nav step=step canAdvance=canAdvance changeStep=(action 'changeStep')}}{{/step-nav}}
</div>