{{#if notBegining}} 
	<div {{action "previousStep" num on="click"}} class="fa fa-arrow-left"></div>
{{/if}}
{{yield}}
{{#if notEnd}}
	{{#if moveNext}}
		<div {{action "nextStep" num on="click"}} class="fa fa-arrow-right"></div>
	{{else}}
		<div class="fa fa-ban"></div>
	{{/if}}
{{/if}}